services:
  api:
    build:
      context: .
      target: dev
    profiles: ["dev"]
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  api-prod:
    build:
      context: .
      target: prod
    profiles: ["prod"]
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-testdm}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-testdm}
      POSTGRES_DB: ${POSTGRES_DB:-testdm}
